<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='container card text-center justify-content-center text-white bg-success my-5 py-5'>
      <h2 class='mb-5'>Bienvenue!</h2>
      <div class='row'>
    <div class='col-3'>
      <i class="fas fa-code fa-5x"></i>
    </div>
    <div class='col-6 justify-content-center text-center'>
    <form action="/" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group ">
        <label for="username">Quel est ton nom?</label>
        <input type="text" class="form-control text-center my-3" id="username" name="username" placeholder="Nico" required>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    </div>
          <div class='col-3'>
          <i class="fas fa-code-branch fa-5x"></i>
      </div>
      </div>
  </body>
</html>


