
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container text-center">
      <h2>Welcome <%= @first_name %>!</h2>
      <h4>Voici la liste de tous les gossips :</h4>
    </div>

    <div class="container">
      <% @gossips.each_slice(2) do |item| %>
        <div class="card my-4 text-white bg-success">
          <div class="card-body">
            <div class="container">
              <div class="row h-100">
              <% item.each do |gossip| %>
                <div class="col-lg-1 my-auto text-center px-2 py-3 bg-dark">
                    <i class="fas fa-comments fa-3x"></i>
                </div>
                <div class="col-lg-5 my-2 text-justify">
                  <h5 class="card-title"><%= link_to gossip.user.first_name, user_id_path(gossip.user.id)%> <%= gossip.user.last_name %></h5>
                  <p class="card-text"><%=link_to gossip.title, gossip_id_path(gossip.id)%></p>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>